/* this is comment */

body {
	margin: 0px;
}

h1 {
	text-align: center;
}

#inputTable {
	margin-top: 30px;
	width:70%;
    margin-left:15%; 
    margin-right:15%;
}

input {
	text-align: center;
}

